.DS_Store
node_modules
/client/dist
/client/dist.*
__pycache__
/server/migrations
/server/static/avatars

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

